/* CHARTE GRAPHIQUE */
    
    :root 
    {
        --main-bg-color: #FFFEF8;
		--main-orange: #B1663C;
        --main-green: #1D6154;
        --full-white: #FFFFFF;
        --full-black: #000000;
        --full-red: #FF0000;
    }

/* FIN CHARTE GRAPHIQUE */

/* MAIN */

    main
    {
        margin-bottom: 250px;
    }

/* FIN MAIN */

/* CONNEXION */

    #connexion h2
    {
        text-align: center;
        margin-bottom: 30px;
    }

    #blocErreur
    {
        display: none;
        width: 50%;
        text-align: center;
        background-color: var(--main-orange);
        font-size: 15px;
        font-weight: bold;
        color: var(--full-white);
        padding: 20px 0px 20px;
        margin: 0 auto 30px;
        border: 1px solid var(--main-orange);
    }

    #formulaireConnexion
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #divEmail, #divPassword
    {
        display: flex;
        flex-direction: column;
        width: 30%;	
        margin-bottom: 30px;
    }

    #divEmail label, #divPassword label
    {
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    #divEmail input, #divPassword input
    {
        border: none;
        height: 51px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        outline: none;
    }

    #boutonConnexion
    {
        font-family: 'Syne';
        font-size: 14px;
        font-weight: 700;
        width: 179px;
        padding: 10px 30px;
        margin-bottom: 30px;
        border: 1px solid var(--main-green);
        color: var(--full-white);
        border-radius: 60px;
        background-color: var(--main-green);
    }

    #boutonConnexion:hover
    {
        opacity: 0.8;
        border: 1px solid var(--main-orange);
        background-color: var(--main-orange);
        color: var(--full-white);
    }   

    #motPasseOublie
    {
        text-decoration: underline;
    }

    #motPasseOublie:hover
    {
        color: var(--main-orange);
    }

/* FIN CONNEXION */